* { box-sizing: border-box;}
html, body {
    height: 100%;
}
body {
    font-family: 'Didact Gothic', sans-serif;
    background: #ffdc0e;
    background: #222;
    color: #222;
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
a, a:visited, a:active {
    color: #ffdc0e;
    text-decoration: none;
    border-bottom: 1px solid;
}
a:hover {
    color: #222;
    background: #ffdc0e;
}
.inverse {
    color: #222;
    background: #ffdc0e;
    font-weight: 600;
}
.abc {
    font-size: 14px;
    color: #ffdc0e;
    animation: a3 1s ease-out;
    position: absolute;
    padding: 60px;
    bottom: 0;
    width: 100%;
}
.we-are {
    font-size:55px;
}
.impact {
    font-size: 50px;
    margin-bottom: 40px
}

.contacts {font-size: 20px;}
.title {
    position: absolute;
    top: 135px;
    left: 140px;
    transform: translate(-50%, -50%);
    text-transform: lowercase;
    font-weight: 600;
    font-size: 45px;
    margin: 0;
    animation: a1 3s;
    color: #ffdc0e;
    background: #222222f0;
    border-radius: 50%;
}
.square {
    position: absolute;
    border: 1px solid #ffdc0c;
    top: 140px;
    left: 140px;
    transform: translate(-50%, -50%);
    padding: 80px;
}
.s-2 {
    animation: a2 .8s;
    transform: translate(-50%, -50%) rotate(2deg);
}

@keyframes a1 {
    from {opacity:.3}
    to {opacity: 1;}
}
@keyframes a2 {
    from {transform: translate(-50%, -50%) rotate(0deg);}
    to {transform: translate(-50%, -50%) rotate(2deg);}
}
@keyframes a3 {
    from {bottom:-20px; opacity: .5;}
    to {bottom: 0; opacity: 1;}
}

#particles-js {
    height: 100%;
}

@media(max-width: 700px) {
    .abc {padding: 20px;}
    .we-are {
        font-size:50px;
    }
    .impact {
        font-size: 40px;
        margin-bottom: 30px
    }
    .contacts {font-size: 16px;}
    .title, .square {left: 110px;top:120px;}
}
@media(max-width: 600px) {
    .we-are {
        font-size:40px;
    }
    .impact {
        font-size: 30px;
        margin-bottom: 30px
    }
    .contacts {font-size: 14px;}
}
@media(max-width: 460px) {
    .contacts {
        display: flex;
        flex-direction: column;
    }
}