html, body {
    height: 100%;
}
body {
    font-family: 'Didact Gothic', sans-serif;
    background: #ffdc0e;
    background: #222;
    color: #222;
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
.abc {
    text-align: center;
    font-size: 14px;
    background: #222;
    color: #ddd;
    animation: a3 2s;
    position: relative;
}
.abc a {color: #ddd;}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: lowercase;
    font-weight: 600;
    font-size: 36px;
    margin: 0;
    animation: a1 3s;
    color: #ffdc0e;
    background: #222222f0;
    border-radius: 50%;

}
.square {
    position: absolute;
    border: 1px solid #ffdc0c;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 120px;
}
.s-2 {
    animation: a2 .8s;
    transform: translate(-50%, -50%) rotate(2deg);
}

@keyframes a1 {
    from {opacity:.3}
    to {opacity: 1;}
}
@keyframes a2 {
    from {transform: translate(-50%, -50%) rotate(0deg);}
    to {transform: translate(-50%, -50%) rotate(2deg);}
}
@keyframes a3 {
    from {top:-100px}
    to {top: 0;}
}

#particles-js {
    height: 100%;
}