* { box-sizing: border-box; margin: 0; padding: 0;}
html, body {height: 100%;}
body {background: #030322;}
.email {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
    opacity: .8;
    position: absolute;
    bottom: 30px;
    left: 200px;
    border-bottom: 1px solid transparent;
    animation: move-1 3s cubic-bezier(1, 0.03, 1, 0.89);
}
@keyframes move-1 {
    0% {opacity: 0;}
}
.email:hover {
    border-bottom-color: #fff;
    opacity: 1;
}
img {
    transition: all 2s ease-in;
    width: 400px;
    position: absolute;
    top: 50%;
    margin-top: -200px;
    left: 200px;
    animation: move-2 .5s ease-in;
}
@keyframes move-2 {
    0% {margin-left: -2000px;}
}