@mixin from-left {
  .from-left {
    margin-left: -5000px;
    -webkit-transition: margin-left 1.5s 0.1s cubic-bezier(0, 1, 0.3, 1);
            transition: margin-left 1.5s 0.1s cubic-bezier(0, 1, 0.3, 1);

    will-change: transform;

    &.animate-from-left {
      margin-left: 0;
    }
  }
}

@mixin from-right {
  .from-right {
    margin-right: -5000px;
    -webkit-transition: margin-right 1.5s 0.1s cubic-bezier(0, 1, 0.3, 1);
            transition: margin-right 1.5s 0.1s cubic-bezier(0, 1, 0.3, 1);

    will-change: transform;

    &.animate-from-right {
      margin-right: 0;
    }
  }
}

@mixin scroll-rotate {
  .scroll-rotate {
    -webkit-transition: opacity 0.5s 0.3s ease-out,
    -webkit-transform 2s 0.25s cubic-bezier(0, 1, 0.3, 1);
            transition: opacity 0.5s 0.3s ease-out,
    -webkit-transform 2s 0.25s cubic-bezier(0, 1, 0.3, 1);
            transition: transform 2s 0.3s cubic-bezier(0, 1, 0.3, 1),
    opacity 0.3s 0.25s ease-out,
    -webkit-transform 2s 0.3s cubic-bezier(0, 1, 0.3, 1);
    -webkit-transform: translateY(4em) rotateZ(-10deg);
            transform: translateY(4em) rotateZ(-10deg);
    opacity: 0;

    will-change: transform, opacity;

    &.animate-rotate {
      -webkit-transform: translate(0);
              transform: translate(0);
      opacity: 1;
    }
  }
}


@mixin phase-steps {
  .phase-item-1 {
    margin-right: -5000px;
    -webkit-transition: margin-right 1s 0.5s cubic-bezier(0, 1, 0.3, 1);
            transition: margin-right 1s 0.5s cubic-bezier(0, 1, 0.3, 1);

    &.animate-phase-steps {
      margin-right: 0;
    }
  }

  .phase-item-2 {
    margin-right: -5000px;
    -webkit-transition: margin-right 1s 1.0s cubic-bezier(0, 1, 0.3, 1);
            transition: margin-right 1s 1.0s cubic-bezier(0, 1, 0.3, 1);

    &.animate-phase-steps {
      margin-right: 0;
    }
  }

  .phase-item-3 {
    margin-right: -5000px;
    -webkit-transition: margin-right 1s 1.5s cubic-bezier(0, 1, 0.3, 1);
            transition: margin-right 1s 1.5s cubic-bezier(0, 1, 0.3, 1);

    &.animate-phase-steps {
      margin-right: 0;
    }
  }

  .phase-item-4 {
    margin-right: -5000px;
    -webkit-transition: margin-right 1s 2s cubic-bezier(0, 1, 0.3, 1);
            transition: margin-right 1s 2s cubic-bezier(0, 1, 0.3, 1);

    &.animate-phase-steps {
      margin-right: 0;
    }
  }

  .phase-item-5 {
    margin-right: -5000px;
    -webkit-transition: margin-right 1s 2.5s cubic-bezier(0, 1, 0.3, 1);
            transition: margin-right 1s 2.5s cubic-bezier(0, 1, 0.3, 1);

    &.animate-phase-steps {
      margin-right: 0;
    }
  }
}

@mixin phase-consistent {
  .phase-consistent-1 {
    -webkit-transition: opacity 3s 0.3s ease-out;
            transition: opacity 3s 0.3s ease-out;
    opacity: 0;

    &.animate-phase-consistent {
      opacity: 1;
    }
  }

  .phase-consistent-2 {
    -webkit-transition: opacity 3s 1s ease-out;
            transition: opacity 3s 1s ease-out;
    opacity: 0;

    &.animate-phase-consistent {
      opacity: 1;
    }
  }

  .phase-consistent-3 {
    -webkit-transition: opacity 3s 1.7s ease-out;
            transition: opacity 3s 1.7s ease-out;
    opacity: 0;

    &.animate-phase-consistent {
      opacity: 1;
    }
  }

  .phase-consistent-4 {
    -webkit-transition: opacity 3s 2.4s ease-out;
            transition: opacity 3s 2.4s ease-out;
    opacity: 0;

    &.animate-phase-consistent {
      opacity: 1;
    }
  }

  .phase-consistent-5 {
    -webkit-transition: opacity 0.7s 3.1s ease-out;
            transition: opacity 0.7s 3.1s ease-out;
    opacity: 0;

    &.animate-phase-consistent {
      opacity: 1;
    }
  }
}

@mixin keyframe ($fadein) {
  @-webkit-keyframes fadein {
    @content;
  }

  @-moz-keyframes fadein {
    @content;
  }

  @-o-keyframes fadein {
    @content;
  }

  @keyframes fadein {
    @content;
  }
}

@mixin fadein($op) {
  @include keyframe(fadein) {
    0% {
      opacity: 0;
    }

    100% {
      opacity: op;
    }
  }
}
