@import '_core.scss';

.case-page {
  .section-with-bg {
    position: relative;

    .case-lg {
      @include respond-to('lg') {
        @include space-between;
        align-items: baseline;
        max-width: 500px;

        h3 {
          @include h1-d;
        }
      }
    }

    .contracts-bg {
      @include stretch-overlay;
      position: absolute;
      z-index: -1;
      opacity: 0.45;
      background-image: url('../images/backgrounds/contracts-bg.jpg');
      background-repeat: no-repeat;
      background-position-x: 100%;
      background-size: contain;

      @include respond-to('lg') {
        top: -20px;
        opacity: 0.7;
        background-image: url('../images/backgrounds/contracts-bg-desktop.jpg');
        background-size: 1366px 688px;
      }
    }

    .project-wrapper {
      .kountable-logo-wrapper {
        @include respond-to('lg') {
          display: flex;
          margin-bottom: 48px;

          .kountable-logo {
            margin-right: 70px;
          }
        }

        .kountable-logo {
          min-width: 84px;
          height: 48px;
          background-image: url('../images/case/kountable.jpg');
          background-repeat: no-repeat;
          background-size: contain;
        }
      }

      & {
        @include respond-to('lg') {
          .project-caption {
            @include h3-d;
            width: 80%;
          }
        }
      }
    }
  }

  .list-icon-wrapper {
    .list-icon {
      @include respond-to('lg') {
        display: flex;
        flex-wrap: wrap;

        .partnership,
        .location {
          order: -1;
          width: 225px;
        }

        .dedicated {
          width: 500px;
          margin-bottom: 0;
        }
      }

      .hr-patt-img {
        padding-bottom: 8px;
      }

      .dedicated .space-between {
        width: 100%;
      }

      .technology-smr {
        @include respond-to('smr') {
          display: grid;
          width: 225px;

          grid-gap: 25px;
          grid-template-columns: repeat(auto-fill, 100px);
        }
        @include rwd(601, 9999) {
          display: none;
        }
      }

      .technology-big {
        @include rwd(601, 9999) {
          display: grid;
          width: 450px;
          max-width: 1365px;

          grid-gap: 0;
          grid-template-columns: repeat(auto-fill, 150px);
        }
      }
    }

    .team {
      display: grid;

      grid-template-columns: repeat(auto-fill, 84px);
      grid-gap: 14px;

      & {
        @include respond-to('lg') {
          max-width: 990px;
          margin-left: 52px;

          grid-gap: 25px;
        }
      }

      .person {
        height: 84px;
        background-repeat: no-repeat;
        background-size: contain;
      }

      .okyriienko {
        background-image: url('../images/team/small/okyriienko.jpg');
      }

      .nmarchuk {
        background-image: url('../images/team/small/nmarchuk.jpg');
      }

      .mtitov {
        background-image: url('../images/team/small/mtitov.jpg');
      }

      .mpetrushenko {
        background-image: url('../images/team/small/mpetrushenko.jpg');
      }

      .vsokol {
        background-image: url('../images/team/small/vsokol.jpg');
      }

      .mholyk {
        background-image: url('../images/team/small/mholyk.jpg');
      }

      .tkharuk {
        background-image: url('../images/team/small/tkharuk.jpg');
      }

      .nsokil {
        background-image: url('../images/team/small/nsokil.jpg');
      }

      .vtomkiv {
        background-image: url('../images/team/small/vtomkiv.jpg');
      }
    }
  }

  // how it was
  .how-it-was {
    .margin-16 {
      margin-top: 16px;
      margin-bottom: 16px;
    }

    .item {
      height: 144px;
      background-repeat: no-repeat;
      background-position-x: 100%;
      background-size: contain;
    }

    .begin {
      background-image: url('../images/case/begin.jpg');
    }

    .ds {
      background-image: url('../images/case/ds.jpg');
    }

    .insights {
      background-image: url('../images/case/insights.jpg');
    }

    .rescue {
      background-image: url('../images/case/rescue.jpg');
    }

    .mobile {
      background-image: url('../images/case/mobile.jpg');
    }
  }

  .how-it-was-lg {
    @include respond-to('lg') {
      .caption {
        @include space-between;
        align-items: flex-end;
        margin-top: 32px;
        text-align: right;

        h2 {
          @include h2-d;
          margin-right: 110px;

          span {
            display: block;
          }
        }

        .hr-patt-img {
          margin-right: auto;
        }
      }

      & > ul > li {
        display: flex;

        .margin-16 {
          margin-top: 0;
          margin-bottom: 0;

          img {
            padding-right: 25px;
          }
        }

        .ul-red-square {
          padding-left: 80px;

          li {
            width: 350px;
          }
        }
      }
    }
  }

  // 3 - what we built
  .we-built {
    @include respond-to('lg') {
      padding-top: 80px;

      .pt-400 {
        padding-top: 400px;
      }
    }

    &-bg {
      z-index: -1;
      height: 236px;
      background-image: url('../images/backgrounds/we-built.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 360px 236px;

      @include respond-to('lg') {
        height: 300px;
        background-image: url('../images/backgrounds/we-built-desktop.jpg');
        background-position: right;
        background-size: 746px 464px;
      }
    }

    .we-built-caption {
      width: 280px;
      margin: 0 auto;
      margin-top: 132px;
      text-align: right;

      @include respond-to('lg') {
        @include h2-d;
        width: 45%;
        margin: 32px 0 0 0;
      }
    }

    .we-built-list {
      @include respond-to('lg') {
        .hr-patt-img {
          margin-right: 100px;
        }
      }
    }

    .we-built-img-desktop {
      position: relative;

      .img1 {
        position: absolute;
        top: 130px;
        left: 70px;
        z-index: 1;
      }

      .img2 {
        position: absolute;
        top: -30px;
        left: 0;
        z-index: -1;
      }

      .img3 {
        position: absolute;
        top: 220px;
        left: 560px;
        z-index: 2;
      }
    }

    .we-built-img {
      position: relative;
      max-width: 480px;
      height: 570px;
      margin: 0 auto;
      text-align: right;

      .img1 {
        position: absolute;
        top: 20px;
        right: 0;
      }

      .img2 {
        position: absolute;
        top: 275px;
        left: 0;
        z-index: -1;
      }

      .img3 {
        position: absolute;
        top: 250px;
        right: 0;
      }
    }
  }

  // 4 - business impact
  .bi {
    .bi-description {
      @include subtitle-2;

      &-mob {
        display: block;
      }
    }

    .bi-col-1 {
      @include h3-d;
      flex-basis: 90px;
      line-height: 32px;
      text-align: right;
      text-transform: uppercase;
    }

    .bi-col-2 {
      flex: 1;
    }

    & {
      @include respond-to('lg') {
        .p-l-56 {
          padding-left: 56%;
        }

        .bi-lg {
          margin-left: -48px;

          .outline {
            padding-top: 30px;
          }

          h4,
          .outline {
            @include h2-d;
          }
        }

        .bi-description {
          margin-left: 96px;

          &-mob {
            display: inline;
          }
        }

        .bi-list {
          display: flex;
          flex-direction: row;
          margin-bottom: 50px;

          & > div {
            display: flex;
            flex-direction: column;
            margin: 0 48px;
          }

          .bi-col-1 {
            @include h2-m;
            flex-basis: 45px;
            text-align: left;
          }
        }
      }
      @include respond-to('xl') {
        margin-left: -48px;
      }
    }
  }

  // 6 - value we delivered
  .value {
    @include respond-to('lg') {
      .value-caption {
        @include h2-d;
        text-align: right;

        .first {
          display: block;
        }
      }

      .value-list {
        max-width: 420px;
        margin-left: 50%;
      }
    }

    .subtitle-1 {
      min-width: 45px;
    }
  }

  // 7 - client feedback
  .feedback-wrapper {
    .feedback {
      max-width: 992px;
      margin: 0 auto;

      .feedback-item {
        flex-basis: 300px;
        min-width: 235px;
        margin-right: 32px;
        margin-left: 40px;

        .item {
          height: 184px;
          background-repeat: no-repeat;
          background-size: contain;
        }

        .kolesnikov {
          background-image: url('../images/case/feedback/kolesnikov.jpg');
        }

        .whaley {
          background-image: url('../images/case/feedback/whaley.jpg');
        }

        &-name {
          max-width: 184px;
          margin-top: 20px;
          margin-bottom: 10px;
        }
      }
    }

    .summary {
      max-width: 360px;
      padding-bottom: 20px;
      border-top: 1px solid $red;
    }

    & {
      @include respond-to('lg') {
        .feedback-lg {
          margin-bottom: 60px;

          h4,
          span {
            @include h2-d;
          }
        }

        .crop-wrapper {
          max-width: 1140px;
        }

        .feedback {
          .feedback-item {
            min-width: 465px;
            margin-right: 80px;
            margin-left: 0;

            .feedback-item-desktop {
              display: flex;
            }

            .item {
              width: 184px;
              margin-right: 36px;
            }

            &-name span {
              display: block;
              color: $white;
            }
          }
        }

        .summary {
          margin: 70px 0;
          padding-bottom: 64px;

          img {
            min-width: 40px;
          }
        }
      }
      @include respond-to('xl') {
        .feedback-lg {
          margin-left: -48px;
        }
      }
    }
  }

  // CONTACTS
  .contacts-section {
    li {
      @include valigned;
      margin-bottom: 40px;

      img {
        margin-right: 20px;
      }
    }
  }

  .width-45 {
    @include respond-to('lg') {
      width: 45%;
    }
  }
}
