@import '_core.scss';

.case-page {
  .section-with-bg {
    position: relative;

    .contracts-bg {
      @include stretch-overlay;
      position: absolute;
      z-index: -1;
      opacity: 0.3;
      background-image: url('../images/backgrounds/contracts-bg.jpg');
      background-repeat: no-repeat;
      background-position-x: 100%;
      background-size: contain;

      @include respond-to('lg') {
        top: -20px;
        background-image: url('../images/backgrounds/contracts-bg-desktop.jpg');
        background-size: 1366px 688px;
      }
    }
  }

  .section-under-bg {
    @include respond-to('xl') {
      .dedicated {
        margin-left: 10.5%;
      }

      .team {
        margin-left: 15%;
      }
    }

    .dedicated .justify-content-between {
      width: 100%;
    }

    svg {
      min-width: 32px;
    }

    .technologies {
      width: 100%;
      max-width: 600px;
    }

    .team {
      display: grid;

      grid-template-columns: repeat(auto-fill, 84px);
      grid-gap: 14px;

      & {
        @include respond-to('lg') {
          max-width: 990px;

          grid-gap: 24px;
        }
      }

      .person {
        height: 84px;
        background-repeat: no-repeat;
        background-size: contain;
      }

      .okyriienko {
        background-image: url('../images/team/small/okyriienko.jpg');
      }

      .nmarchuk {
        background-image: url('../images/team/small/nmarchuk.jpg');
      }

      .mtitov {
        background-image: url('../images/team/small/mtitov.jpg');
      }

      .mpetrushenko {
        background-image: url('../images/team/small/mpetrushenko.jpg');
      }

      .vsokol {
        background-image: url('../images/team/small/vsokol.jpg');
      }

      .mholyk {
        background-image: url('../images/team/small/mholyk.jpg');
      }

      .tkharuk {
        background-image: url('../images/team/small/tkharuk.jpg');
      }

      .nsokil {
        background-image: url('../images/team/small/nsokil.jpg');
      }

      .vtomkiv {
        background-image: url('../images/team/small/vtomkiv.jpg');
      }
    }
  }

  // how it was
  .margin-16 {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .how-it-was-lg {
    @include respond-to('lg') {
      .caption {
        margin-bottom: 32px;
        text-align: right;

        h2 {
          @include h2-d;

          span {
            display: block;
          }
        }
      }

      .margin-16 {
        margin-top: 0;
        margin-bottom: 0;
      }

      .ul-red-square {
        padding-left: 80px;
      }
    }

    .img {
      width: 100%;
      max-width: 320px;
      max-height: 144px;
      padding: 0;
    }
  }

  // 3 - what we built
  .we-built {
    padding-top: 64px;

    @include respond-to('lg') {
      padding-top: 124px;

      .pt-400 {
        padding-top: 400px;
      }
    }

    &-bg {
      z-index: -1;
      height: 236px;
      background-image: url('../images/backgrounds/we-built.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 360px 236px;

      @include respond-to('lg') {
        height: 300px;
        background-image: url('../images/backgrounds/we-built-desktop.jpg');
        background-position: right;
        background-size: 746px 464px;
      }
    }

    .we-built-caption {
      min-width: 240px;
      margin-top: 132px;

      @include respond-to('lg') {
        @include h2-d;
        margin-top: 32px;
      }
    }

    .we-built-img-desktop {
      position: relative;

      .img1 {
        position: absolute;
        top: 130px;
        left: 70px;
        z-index: 1;
      }

      .img2 {
        position: absolute;
        top: -30px;
        left: 0;
      }

      .img3 {
        position: absolute;
        top: 220px;
        left: 570px;
        z-index: 2;
      }
    }

    .we-built-img {
      position: relative;
      max-width: 480px;
      height: 570px;
      margin: 0 auto;
      text-align: right;

      .img1 {
        position: absolute;
        top: 20px;
        right: 0;
      }

      .img2 {
        position: absolute;
        top: 270px;
        left: 0;
        z-index: -1;
      }

      .img3 {
        position: absolute;
        top: 250px;
        right: 0;
      }
    }
  }

  // 4 - business impact
  .bi {
    .bi-col-1 {
      @include h3-d;
      line-height: 32px;
      text-align: right;
      text-transform: uppercase;

      @include respond-to('lg') {
        @include h2-m;
        margin-bottom: 16px;
        text-align: left;
      }
    }
  }

  // 6 - value we delivered
  .value {
    @include respond-to('lg') {
      .value-caption {
        @include h2-d;
        text-align: right;
      }
    }

    .subtitle-1 {
      min-width: 45px;
    }
  }

  // 7 - client feedback
  .feedback-wrapper {
    .crop-wrapper {
      max-width: 992px;
      margin: 0 auto;

      .feedback-item {
        min-width: 235px;

        &-name {
          max-width: 184px;
          margin: 16px 0;
        }
      }
    }

    .summary {
      max-width: 320px;
      border-top: 1px solid $red;
    }

    & {
      @include respond-to('lg') {
        .feedback-caption {
          margin-bottom: 32px;

          span {
            @include h2-d;
          }
        }

        .crop-wrapper {
          max-width: 1140px;

          .feedback-item {
            min-width: 465px;

            &-name div:first-child {
              display: block;
              color: $white;
            }
          }
        }
      }
    }
  }
}
