@import '_core.scss';

// CONTACTS
.contacts-section {
  .contacts-sections {
    @include respond-to('lg') {
      @include valigned;
    }

    .contacts-social > div {
      margin-top: 48px;
      margin-bottom: 48px;

      @include respond-to('lg') {
        margin-top: 0;
        margin-bottom: 32px;
      }
    }
  }

  .contacts-primary {
    @include respond-to('lg') {
      margin-right: 100px;
      margin-left: 10%;
    }
  }

  li {
    @include valigned;

    svg {
      margin-right: 20px;

      stroke: $red;
    }
  }

  li + li {
    margin-top: 32px;
  }

  .caption-1 {
    @include respond-to('lg') {
      @include subtitle-2;
    }
  }
}
