@import '_core.scss';

// CONTACTS
.contacts-section {
  .contacts-sections {
    padding-bottom: 80px;

    @include respond-to('lg') {
      @include valigned;
      padding-bottom: 124px;
    }

    .contacts-social > div {
      margin-top: 48px;
      margin-bottom: 48px;

      @include respond-to('lg') {
        margin-top: 0;
        margin-bottom: 32px;
      }
    }
  }

  li {
    @include valigned;

    svg {
      min-width: 32px;
      margin-right: 20px;

      stroke: $red;
    }
  }

  li + li {
    margin-top: 32px;
  }

  .caption-1 {
    @include respond-to('lg') {
      @include subtitle-2;
    }
  }
}
