@import '_reset.scss';
@import '_typography.scss';
@import '_theme.scss';
@import '_layout.scss';

.hr-numbered {
  @extend caption;
  display: flex;
  align-items: center;
  width: 120px;
  color: $red;

  @mixin line {
    content: '';
    display: inline-block;
    width: 72px;
    border-top: 1px solid $red;
  }

  &.left {
    &::before {
      @include line;
      margin-right: 40px;
    }
  }

  &.right {
    margin-left: auto;

    &::after {
      @include line;
      margin-left: 40px;
    }
  }
}

.hr-patt {
  height: 4px;
  background-repeat: no-repeat;
  background-origin: content-box;

  &-1 {
    background-image: url('../images/patterns/patt_1.svg');
    min-width: 118px;
  }

  &-2 {
    background-image: url('../images/patterns/patt_2.svg');
  }

  &-3 {
    background-image: url('../images/patterns/patt_3.svg');
  }

  &-4 {
    background-image: url('../images/patterns/patt_4.svg');
  }

  &-5 {
    background-image: url('../images/patterns/patt_5.svg');
  }

  &.right {
    background-position-x: 100%;
  }
}

.rectangle {
  background-image: url('../images/patterns/rectangle.svg');
}

// BUTTONS
button {
  cursor: pointer;
}

button > * {
  pointer-events: none;
}
