@import '_reset.scss';
@import '_typography.scss';
@import '_theme.scss';
@import '_layout.scss';

.hr-numbered {
  @extend caption;
  display: flex;
  align-items: center;
  width: 120px;
  color: $red;

  @mixin line {
    content: '';
    display: inline-block;
    width: 72px;
    border-top: 1px solid $red;
  }

  &.left {
    &::before {
      @include line;
      margin-right: 40px;
    }
  }

  &.right {
    margin-left: auto;

    &::after {
      @include line;
      margin-left: 40px;
    }
  }

  &.ml-numbered {
    margin-left: 280px;
  }
}

.hr-numbered-small {
  @extend caption;
  display: flex;
  align-items: flex-start;
  width: 110px;
  color: $red;

  @mixin line-small {
    content: '';
    display: inline-block;
    width: 16px;
    margin-top: 25px;
    border-top: 1px solid $red;
  }

  &.small-line {
    &::before {
      @include line-small;
      margin-left: 55px;
    }
  }
}

.hr-patt {
  height: 4px;
  border-top: 1px solid blue;
  background-repeat: no-repeat;
  background-origin: content-box;

  &-1 {
    min-width: 118px;
    background-image: url('../images/patterns/patt_1.svg');
  }

  &-2 {
    background-image: url('../images/patterns/patt_2.svg');
  }

  &-3 {
    background-image: url('../images/patterns/patt_3.svg');
  }

  &-4 {
    background-image: url('../images/patterns/patt_4.svg');
  }

  &-4-black {
    background-image: url('../images/patterns/patt_4-black.svg');
  }

  &-5 {
    background-image: url('../images/patterns/patt_5.svg');
  }

  &-6 {
    background-image: url('../images/patterns/patt_6.svg');
  }

  &-6-black {
    background-image: url('../images/patterns/patt_6-black.svg');
  }

  &-7 {
    background-image: url('../images/patterns/patt_7.svg');
  }

  &-8 {
    background-image: url('../images/patterns/patt_8.svg');
  }

  &-9 {
    background-image: url('../images/patterns/patt_9.svg');
  }

  &.right {
    background-position-x: 100%;
  }
}

.hr-patt-img {
  fill: $white;

  &.red {
    fill: $red;
  }

  &.black {
    fill: $black;
  }

  &.dark-blue {
    fill: $dark-blue;
  }
}

// BUTTONS
button {
  cursor: pointer;
}

button > * {
  pointer-events: none;
}

// ANCHORS
a {
  color: $white;

  &:hover,
  &:focus {
    color: darken($white, 20);
  }
}
