@import '_reset.scss';
@import '_typography.scss';
@import '_theme.scss';
@import '_layout.scss';

.hr-numbered {
  @include caption-1;
  display: flex;
  align-items: center;
  width: 120px;
  color: $red;

  @mixin line {
    content: '';
    display: inline-block;
    width: 72px;
    border-top: 1px solid $red;
  }

  &.left {
    &::before {
      @include line;
      margin-right: 40px;
    }
  }

  &.right {
    margin-left: auto;

    &::after {
      @include line;
      margin-left: 40px;
    }
  }

  &.ml-numbered {
    margin-left: 280px;
  }
}

.hr-numbered-small {
  @include caption-1;
  display: flex;
  align-items: flex-start;
  width: 110px;
  color: $red;

  @mixin line-small {
    content: '';
    display: inline-block;
    width: 16px;
    margin-top: 25px;
    border-top: 1px solid $red;
  }

  &.small-line {
    &::before {
      @include line-small;
      margin-left: 55px;
    }
  }
}

.hr-patt-img {
  fill: $white;

  &.red {
    fill: $red;
  }

  &.black {
    fill: $black;
  }

  &.dark-blue {
    fill: $dark-blue;
  }
}

// BUTTONS
button {
  cursor: pointer;
}

button > * {
  pointer-events: none;
}

// ANCHORS
a {
  color: $white;

  &:hover,
  &:focus {
    color: darken($white, 20);
  }
}

// PHASES
.phases-list {
  .phase-item + .phase-item {
    margin-top: 16px;
  }

  .phase-title {
    margin-bottom: 8px;
  }

  .phase-description {
    padding-bottom: 16px;
  }

  .phase-line {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      margin-top: 4px;
      margin-left: 4px;
      opacity: 0.2;
      background: $dark-blue;
    }
  }
}
