@import '_core.scss';

.page-home {
  .team-bg {
    @include back-image('../images/backgrounds/team.jpg');
    z-index: -1;
    opacity: 0.25;
  }

  .slogan {
    @include respond-to('lg') {
      h3 {
        @include h1-d;
        max-width: 510px;
        margin-bottom: 16px;
        text-align: right;
      }
    }
  }

  // ABOUT altigee in top area (when large screen)
  .top-about-section {
    display: none;
    align-items: flex-end;

    @include respond-to('lg') {
      display: flex;
    }

    .about-text {
      width: 270px;
    }
  }

  // ABOUT altigee
  .about-section {
    .about-text {
      box-sizing: content-box;
      width: 230px;
      margin: 0 0 auto auto;
    }
  }

  // OFFER SERVICES
  .offer-services {
    ul {
      display: flex;
    }

    li {
      min-width: 184px;
      margin-right: 60px;

      .subtitle-1 {
        margin-bottom: 16px;
      }
    }
  }

  // OFFER TECHNOLOGIES
  .offer-technologies {
    margin-top: 48px;

    @include respond-to('lg') {
      margin-top: 60px;
    }

    &-categories {
      @include respond-to('lg') {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    .offer-technologies-category + .offer-technologies-category {
      margin-top: 48px;
    }

    .subtitle-2 {
      margin-bottom: 8px;
    }

    ul {
      display: flex;
    }

    li {
      @include caption-1;
      flex: 1 0 48px;
      max-width: 60px;
      text-align: center;

      img {
        height: 48px;
      }
    }

    li + li {
      margin-left: 30px;
    }
  }

  // HOW we work
  .how-section {
    ul {
      display: flex;
      flex-wrap: wrap;
    }

    li {
      max-width: 360px;
    }

    li + li {
      @include respond-to('lg') {
        margin-left: 115px;
      }
    }
  }

  // VALUES
  .values-section {
    ul {
      display: flex;
    }

    li {
      flex: 1 0 176px;
      margin-right: 60px;
    }
  }

  .display-link {
    @include button-1;
    text-decoration: none;
    text-transform: uppercase;
    color: $red;

    &:hover {
      color: darken($color: $red, $amount: 15);
    }

    &:active {
      color: darken($color: $red, $amount: 30);
    }
  }
}
