@import '_core.scss';

.page-home {
  .top-section {
    position: relative;

    .team-bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      opacity: 0.25;
      background-image: url('/images/backgrounds/team.png');
      background-position-x: -92px;
      background-position-y: -263px;
      background-size: 643px 976px;
    }

    .header {
      @include space-between;
    }

    .slogan {
      @include respond-to('lg') {
        h3 {
          @include display-4;
          max-width: 510px;
          margin-bottom: 20px;
          text-align: right;
        }

        .subheading {
          @include display-0;
          max-width: 510px;
          padding-right: 15px;
          text-align: right;
        }
      }
    }

    // ABOUT altigee in top area (when large screen)
    .top-about-section {
      display: none;
      align-items: flex-end;

      @include respond-to('lg') {
        display: flex;
      }

      .about-text {
        width: 270px;
      }
    }
  }

  // ABOUT altigee
  .about-section {
    .about-text {
      box-sizing: content-box;
      width: 230px;
      margin: 0 0 auto auto;
    }
  }

  // OFFER SERVICES
  .offer-services {
    ul {
      display: flex;
    }

    li {
      min-width: 184px;
      margin-right: 60px;

      .listheading {
        margin-bottom: 16px;
      }
    }
  }

  // OFFER TECHNOLOGIES
  .offer-technologies {
    margin-top: 40px;

    @include respond-to('lg') {
      margin-top: 60px;
    }

    &-categories {
      @include respond-to('lg') {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    .offer-technologies-category + .offer-technologies-category {
      margin-top: 40px;
    }

    .listheading {
      margin-bottom: 8px;
      text-transform: none;
    }

    ul {
      display: flex;
    }

    li {
      @include body-caption;
      flex: 1 0 48px;
      max-width: 60px;
      text-align: center;

      img {
        margin-bottom: 4px;
      }
    }

    li + li {
      margin-left: 30px;
    }
  }

  // HOW we work
  .how-section {
    ul {
      display: flex;
      flex-wrap: wrap;
    }

    li {
      max-width: 360px;
    }

    li + li {
      @include respond-to('lg') {
        margin-left: 115px;
      }
    }
  }

  // VALUES
  .values-section {
    ul {
      display: flex;
    }

    li {
      flex: 1 0 176px;
      margin-right: 60px;
    }
  }

  // CONTACTS
  .contacts-section {
    li {
      @include valigned;
      margin-bottom: 40px;

      img {
        margin-right: 20px;
      }
    }
  }
}
