@import '_core.scss';

// MAIN NAVIGATION
.main-navigation {
  .menu-toggle-btn,
  .menu-close-btn {
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background: none;
  }

  // DESKTOP
  &-desktop {
    a {
      text-decoration: none;
    }

    .menu-list {
      li + li {
        margin-left: 32px;
      }
    }
  }

  // MOBILE
  &-mobile {
    .navigation-body {
      display: none;
    }

    &.opened {
      .navigation-body {
        @include backdrop($white);
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px;
      }

      .menu-toggle-btn {
        display: none;
      }
    }

    .menu-list {
      li {
        margin-bottom: 32px;

        a {
          @extend .page-section-heading;
          text-decoration: none;
          color: $red;
        }
      }
    }
  }
}
