@import '_layout.scss';
@import '_theme.scss';

// EXPORTED FROM ZEPLIN
@mixin h1-d {
  font-family: Montserrat;
  font-size: 72px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 10.8px;
}

@mixin h2-d {
  font-family: Montserrat;
  font-size: 56px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 8.4px;
}

@mixin h1-m {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 7.2px;
}

@mixin h2-m {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 4.8px;
}

@mixin h3-d {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.6px;
}

@mixin h3-m {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.4px;
}

@mixin body-1 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
}

@mixin subtitle-2 {
  font-family: Orbitron;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 2.1px;
}

@mixin subtitle-1 {
  font-family: Orbitron;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 1.4px;
}

@mixin button-1 {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
}

@mixin caption-1 {
  font-family: Orbitron;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

// END EXPORTED FROM ZEPLIN

// Typography hierarchy
h1 {
  @include h1-m;
  text-transform: uppercase;
  color: $red;

  @include respond-to('lg') {
    @include h1-d;
    text-align: right;
  }
}

h2 {
  @include h2-m;
  text-transform: uppercase;
  color: $red;

  @include respond-to('lg') {
    @include h2-d;
  }
}

h3 {
  @include h3-m;
  text-transform: uppercase;

  @include respond-to('lg') {
    @include h3-d;
  }
}

.h3-d {
  @include h3-d;
}

.subtitle-1 {
  @include subtitle-1;
  text-transform: uppercase;
  color: $red;
}

.subtitle-2 {
  @include subtitle-2;
  color: $red;
}

.body-1 {
  @include body-1;
}

.caption-1 {
  @include caption-1;
}

.button-1 {
  @include button-1;
}

// BODY
body {
  @include body-1;
}

// UTILITY font classes
.text-upper {
  text-transform: uppercase;
}

.outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px $red;
}

// Antialising
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
