@import '_core.scss';

@import '_header.scss';
@import '_footer.scss';
@import '_menu.scss';

@import '_contacts.scss';

@import '_home-page.scss';
@import '_case-page.scss';
@import '_about-page.scss';
@import '_build-from-scratch.scss';
@import '_team-extend.scss';

body {
  color: $white;
  background: $dark-blue;
}

.main_logo {
  height: 24px;

  svg {
    height: 24px;
  }
}

.main_logo-small {
  min-width: 50px;
  height: 16px;
}
