@import '_core.scss';

@import '_header.scss';
@import '_menu.scss';

@import '_contacts.scss';

@import '_home-page.scss';
@import '_case-page.scss';
@import '_about-page.scss';
@import '_build-from-scratch.scss';

body {
  color: $white;
  background: $dark-blue;
}

.body-white {
  color: $black;
  background: $white;
}

.main_logo {
  height: 24px;

  svg {
    height: 24px;
  }
}

.main_logo-small {
  min-width: 50px;
  height: 16px;
}

// FOOTER
footer {
  @include body-caption;
  text-align: right;

  .hr-patt {
    min-width: 150px;
  }
}
