<section class="contacts-section container">
  <h2 class="page-section-heading mb-48">contacts</h2>

  <div class="contacts-sections">
    <div class="contacts-primary grow offset-lg-2">
      <ul>
        <li>
          <img src="../images/contacts/location.svg" />
          <span>Lviv, Ukraine</span>
        </li>
        <li>
          <img src="../images/contacts/phone.svg" />
          <span>+380 634 543 334</span>
        </li>
        <li>
          <img src="../images/contacts/email.svg" />
          <a href="mailto:hi@altigee.com">hi@altigee.com</a></li>
      </ul>
    </div>

    <div class="contacts-social grow">
      <div class="space-between">
        <span class="caption-1">Social</span>
        <img src="../images/patterns/patt_1.svg" class="hr-patt-img d-lg-none" />
        <img src="../images/patterns/patt_1-6.svg" class="hr-patt-img d-none d-lg-block" />
      </div>

      <ul>
        <li>
          <img src="../images/contacts/linkedin.svg" />
          <a href="https://www.linkedin.com/company/altigee" target="_blank"
            rel="noopener">linkedin.com/company/altigee</a>
        </li>
        <li>
          <img src="../images/contacts/facebook.svg" />
          <a href="https://www.facebook.com/altigee" target="_blank" rel="noopener">facebook.com/altigee</a>
        </li>
      </ul>
    </div>
  </div>
</section>
