<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>We are Altigee</title>
  <meta name="description"
    content="Altigee is a software development company fueled by ridiculously competent software development pros who are crazy about their job and hungry for challenges">
  <link rel="shortcut icon" href="../images/favicon.png" type="image/png">
  <link rel="stylesheet" href="styles/main.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,900|Orbitron:500,700,900&display=swap"
    rel="stylesheet">
</head>
