<header class="header container pt-40 pb-60">
  <img class="main_logo" src="../images/logo.svg" alt="Altigee">

  <div class="main-navigation">
    <button class="menu-toggle-btn">
      <object data="../images/icons/hamburger.svg" type="image/svg+xml">
        hamburger
      </object>
    </button>

    <button class="menu-close-btn">
      <object data="../images/contacts/location.svg" type="image/svg+xml">
        hamburger
      </object>
    </button>

    <ul class="menu-list">
      <li><a href="/build-from-scratch">Project-based</a></li>
      <li><a href="/team-extend">Team extend</a></li>
      <li><a href="/cases">Cases & Testimonials</a></li>
      <li><a href="/about_altigee.html">About/Contacts</a></li>
    </ul>
  </div>
</header>
