* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: rgb(32,17,37);
}

a,
a:hover,
a:visited {
  color: inherit;
}

h1 {
  font-weight: 900;
  color: white;
}

/* COLORS */
.alt_rouge {
  color: #f03;
}

.alt_white {
  color: #fff;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* HEADER */
.main_header {
  background-color: #030222;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  padding: 32px 16px 16px 16px;
}

@media (max-width: 480px) {
  .main_header {
    background-image: url(../assets/backgrounds/cruise_1920_low_res.jpg);
    background-position-x: 70%;
  }
}
@media (min-width:481px)  {
  .main_header {
    background-image: url(../assets/backgrounds/cruise_1920.jpg);
  }
}

.main_logo {
  width: 120px;
}
@media (min-width:560px)  {
  .main_logo {
    width: 180px;
  }
}

.main_slogan {
  padding: 32px 0;
  max-width: 480px;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
@media (min-width:560px)  {
  .main_slogan {
    padding: 48px 0;
  }
}

.main_slogan h1 {
  margin-bottom: 8px;
}
@media (min-width:560px)  {
  .main_slogan h1 {
    font-size: 48px;
    margin-bottom: 16px;
  }
}

/* FOOTER */
.main_footer {
  padding: 16px 16px 32px 16px;
}

.wip {
  font-weight: 300;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 16px;
}
@media (max-width:480px)  {
  .wip {
    max-width: 380px;
  }
}